input {
  width: 320px;
  display: block;
  border-radius: 6px;
  padding: 8px;
  border: none;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #e9edf2;
}



textarea {
  height: 100px;
  width: 320px;
  display: block;
  border-radius: 6px;
  padding: 8px;
  border: none;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #e9edf2;
}

@import "vue-wysiwyg/dist/vueWysiwyg.css";
